@model List<LeaveRequest>

@{
    ViewData["Title"] = "Leave Requests";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Leave Request Table</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="LeaveRequest" asp-action="Upsert" class="btn btn-primary btn-lg">
                <i class="bi bi-file-earmark-plus"></i>  Create
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Absence Reason</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Comment</th>
                <th>Status</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var lr in Model)
            {
                <tr>
                    <td>@lr.Employee?.FullName</td>
                    <td>@lr.AbsenceReason</td>
                    <td>@lr.StartDate</td>
                    <td>@lr.EndDate</td>
                    <td><small>@lr.Comment</small></td>
                    <td>@lr.Status</td>
                    <td>
                        @if (lr.Status == "New")
                        {
                            <a asp-controller="LeaveRequest" asp-action="Upsert" asp-route-id="@lr.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="LeaveRequest" asp-action="Submit" asp-route-id="@lr.Id" class="btn btn-success">Submit</a>
                            <a asp-controller="LeaveRequest" asp-action="Cancel" asp-route-id="@lr.Id" class="btn btn-danger">Cancel</a>
                        }
                        else if (lr.Status != "Canceled")
                        {
                            <a asp-controller="LeaveRequestApproval" asp-action="Details" asp-route-id="@lr.Id" class="btn btn-info">
                                Details
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>