@model List<Project>

@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Project Table</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Project" asp-action="Upsert" class="btn btn-primary btn-lg">
            <i class="bi bi-file-earmark-plus"></i>  Create
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Manager</th>
                <th>Members</th>
                <th>Comment</th>
                <th>Status</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Project p in Model)
            {
                <tr>
                    <td>@p.Type</td>
                    <td>@p.StartDate</td>
                    <td>@p.EndDate</td>
                    <td>@p.Manager?.FullName</td>
                    <td>
                        @foreach (Employee e in p.Members)
                        {
                            <small>@e.FullName; </small>
                        }
                    </td>
                    <td><small>@p.Comment</small></td>
                    <td>@p.Status</td>
                    <td>
                        <a asp-controller="Project" asp-action="Upsert" asp-route-id="@p.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>