@model List<Employee>

@{
    ViewData["Title"] = "Employee";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Employee Table</h2>
        </div>
        <div class="col-6 text-end">
            @* <a asp-controller="Employee" asp-action="Upsert" class="btn btn-primary btn-lg">
                <i class="bi bi-file-earmark-plus"></i>  Create
            </a> *@
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Subdivision</th>
                <th>Position</th>
                <th>Status</th>
                <th>People Partner</th>
                <th>Out-of-Office Balance</th>
                <th>Photo</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model)
            {
                <tr>
                    <td>@e.FullName</td>
                    <td>@e.Subdivision</td>
                    <td>@e.Position</td>
                    <td>@e.Status</td>
                    <td>@e.PeoplePartner?.FullName</td>
                    <td>@e.OutOfOfficeBalance</td>
                    <td><img src="@e.PhotoUrl" style="max-height:100px;width:auto"></td>
                    <td>
                        <a asp-controller="Employee" asp-action="Update" asp-route-id="@e.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/itemDeletion.js"></script>
}