@model EmployeeVM
@{
    ViewData["Title"] = "Update Employee";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Employee.Id" hidden />
            <input asp-for="Employee.PhotoUrl" hidden />
            <input asp-for="Employee.ConcurrencyStamp" hidden />
            <input asp-for="Employee.SecurityStamp" hidden />
            <input asp-for="Employee.UserName" hidden />
            <input asp-for="Employee.NormalizedUserName" hidden />
            <input asp-for="Employee.PasswordHash" hidden />
            <div class="form-floating mb-3">
                <input asp-for="@Model.Employee.FullName" class="form-control" />
                <label asp-for="@Model.Employee.FullName"></label>
                <span asp-validation-for="@Model.Employee.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="@Model.Employee.Subdivision" asp-items="@Model.SubdivisionList" class="form-select border-0 shadow">
                    <option disabled selected>--Select Subdivision--</option>
                </select>
                <label asp-for="@Model.Employee.Subdivision" class="ms-2"></label>
                <span asp-validation-for="@Model.Employee.Subdivision" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="@Model.Employee.Position" asp-items="@Model.PositionList" class="form-select border-0 shadow">
                    <option disabled selected>--Select Position--</option>
                </select>
                <label asp-for="@Model.Employee.Position" class="ms-2"></label>
                <span asp-validation-for="@Model.Employee.Position" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="@Model.Employee.Status" asp-items="@Model.StatusList" class="form-select border-0 shadow">
                    <option disabled selected>--Select Status--</option>
                </select>
                <label asp-for="@Model.Employee.Status" class="ms-2"></label>
                <span asp-validation-for="@Model.Employee.Status" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="@Model.Employee.PeoplePartnerId" asp-items="@Model.HrManagerList" class="form-select border-0 shadow">
                    <option disabled selected>--Select People Partner--</option>
                </select>
                <label asp-for="@Model.Employee.PeoplePartnerId" class="ms-2">People Partner</label>
                <span asp-validation-for="@Model.Employee.PeoplePartnerId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Employee.OutOfOfficeBalance" class="form-control" />
                <label asp-for="@Model.Employee.OutOfOfficeBalance"></label>
                <span asp-validation-for="@Model.Employee.OutOfOfficeBalance" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="file" name="file" class="form-control border-0 shadow" />
                <label asp-for="@Model.Employee.PhotoUrl" class="ms-2"></label>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-lg form-control">Update</button>
                </div>
                <div class="col-3">
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary btn-lg form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
