@model List<LeaveRequestApproval>

@{
    ViewData["Title"] = "Leave Request Approvals";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Leave Request Approval Table</h2>
        </div>
        <div class="col-6 text-end">
            @* <a asp-controller="LeaveRequestApproval" asp-action="Upsert" class="btn btn-primary btn-lg">
                <i class="bi bi-file-earmark-plus"></i>  Create
            </a> *@
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Approver</th>
                <th>Comment</th>
                <th>Status</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var lra in Model)
            {
                <tr>
                    <td>@lra.Approver?.FullName</td>
                    <td><small>@lra.Comment</small></td>
                    <td>@lra.Status</td>
                    <td>
                        @if (lra.Status == "New")
                        {
                            <a asp-controller="LeaveRequestApproval" asp-action="Update" asp-route-id="@lra.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        }
                        <a asp-controller="LeaveRequest" asp-action="Details" asp-route-id="@lra.LeaveRequestId" class="btn btn-info">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>